<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <header>
      <img id="logo" src="static/logo.svg" alt="">
    </header>
    <nav>
      <ul id="nav">
        <li class="li-horz"><a href="#">News</a></li>
        <li class="li-horz"><a href="#">Culture</a></li>
        <li class="li-horz"><a href="#">Books</a></li>
        <li class="li-horz"><a href="#">Humor</a></li>
      </ul>
    </nav>

    <div class="article-heading">
      <div class="">
        <a class="bookmark red" href="#">Books</a>
        <a class="bookmark" href="#">November 27, 2017 Issue</a>
      </div>
      <h5>What's Mary Oliver Critics Don't Understand</h5>
      <h4>For America's most beloved poet, paying attention to nature is a spring board to the sacred</h4>
      <p>By <a href="#">Ruth Frankin</a></p>
    </div>

    <div id="share">
      <ul>
        <li><img src="static/facebook.svg" alt=""></li>
        <li><img src="static/twitter.svg" alt=""></li>
        <li><img src="static/email.svg" alt=""></li>
      </ul>
    </div>

    <div class="container">
      <article id="main-article">
        <div class="article-img-wrapper">
          <img class="article-img" src="static/img.jpg" alt="">
          <small>Illusion by Deana Halsall</small>
        </div>

        <p>Oliver uses nature a springboard to the sacred - the beating heart of her work</p>

        <p>"Mary Oliver is saving my life," Paul Chowder, the title character of Nicholson Baker's novel "<a href="#">The anthologist</a>", crawls in the margins of Oliver’s <a href="#">New and Selected Poems, Volume One.</a> A struggling poet, Chowder is suffering from a severe case of writer’s block. His girlfriend, with whom he’s lived for eight years, has just left him, ostensibly because he has been unable to write the long-overdue introduction to a poetry anthology that he has been putting together. For solace and inspiration, he turns to poets who have been his touchstones—Louise Bogan, Theodore Roethke, Sara Teasdale—before discovering Oliver. In her work, he finds consolation: “I immediately felt more sure of what I was doing.” Of her poems, he says, “They’re very simple. And yet each has something.”</p>
        <blockquote cite="">
          I don’t know exactly what a prayer is.
          <br>
          I do know how to pay attention, how to fall down
          <br>
          into the grass, how to kneel down in the grass,
          <br>
          how to be idle and blessed, how to stroll through the fields,
          <br>
          which is what I have been doing all day.
        </blockquote>

        <p>The cadences are almost Biblical. “Attention is the beginning of devotion,” she urges elsewhere.</p>

        <p>This article appears in the print edition of the November 27, 2017, issue, with the headline “The Art of Paying Attention.”</p>
      </article>

      <div id="most-popular">
        <h4>Most popular</h4>

        <ol>
          <li>
            <p>Letter from Washington</p>
            <a href="#">The Danger of President Pence</a>
            By <a href="#">Jane Mayer</a>
          </li>

          <li>
            <p>Our Columnists</p>
            <a href="#">No End in Sight to the Brexit Madness</a>
            By <a href="#">John Cassidy</a>
          </li>

          <li>
            <p>Satire from The Borowitz Report</p>
            <a href="#">Mueller Rents Giant Warehouse to Store Evidence Against Trump</a>
            By <a href="#">Andy Borowitz</a>
          </li>
        </ol>
      </div>

      <div id="other-news">
        <div class="news-column d-inline-block m-r-50">
          <span>Daily cartoon</span>
          <a href="#">
            <h2>Friday November 24th</h2>
          </a>
          <h2>Forgetting the garnish.</h2>
          <span>By <a href="#">Lina Finck</a></span>
          <span>Nov. 24, 2017</span>
        </div>

        <div class="news-column d-inline-block">
          <span>Daily cartoon</span>
          <a href="#">
            <h2>Friday November 24th</h2>
          </a>
          <h2>Forgetting the garnish.</h2>
          <span>By <a href="#">Lina Finck</a></span>
          <span>Nov. 24, 2017</span>
        </div>
      </div>
    </div>

    <div id="bottom-bar">
      <div class="bottom-bar-content-wrapper">
        <a class="bottom-link" href="#">
          <span>Listen to the NewYorker Radio Hour</span>
        </a>
        <span>.</span>
        <a class="bottom-link" href="#">
          <span>Buy the cover</span>
        </a>
        <span>.</span>
        <a class="bottom-link" href="#">
          <span>Play the JigSaw Puzzle</span>
        </a>
      </div>

    </div>
  </body>
</html>
